.weather {
  display: block;
  font-family: cursive;
  background: linear-gradient(to bottom, #87ceeb, #ffffff);
  height: auto;
  max-width: 700px;
  margin: 35px auto;
  margin-bottom: 15pw;
  border: 1px solid #4e91e9;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 30px 15px;
}

.city {
  font-weight: bold;
}

.searchInput {
  background-color: rgba(223, 239, 247, 0.852);
  border: 3px solid rgb(66, 139, 173);
  border-radius: 7px;
  width: 80;
  font-size: 19px;
  padding: 10px 25px;
}

.Button {
  padding: 1px;
  border: 3px solid;
  background: transparent;
  color: white;
  font-size: 10px;
  border-radius: 5px;
}

.Button:hover {
  background-color: rgb(66, 139, 173);
  transition: 0.2s ease-in-out;
}

.weatherDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin: 15px;
}

.temperature {
  font-size: 60px;
  font-weight: bold;
  vertical-align: middle;
}

.unit {
  font-size: 40px;
  font-weight: bold;
  margin-top: -15px;
}

.Humidity {
  margin-top: 55px;
}

@media (max-width: 768px) {
  .App {
    padding: 20px;
    margin: 15px;
  }

  .weatherDetails {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}

.Footer {
  text-align: center;
  font-size: 12px;
  font-family: cursive;
  font-style: italic;
}

li {
  list-style: none;
}
